<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>创意联合</h1>
    <p>这是一个孵化创意的实验性项目，我们尝试在资源有限的情况下聚集研发、设计、产品、运营、商务各种职能的同学们，期待共同创造出具有商业价值的业务模式</p>
    <a type="button" class="btn btn-lg btn-default" href="/"><span class="glyphicon glyphicon-flash"></span> Getting Started with ToolKit</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/Catslinc/catslinc"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    想加入创意联合工作室，请发邮件到 <a href="mailto:catslinc@qq.com" class="alert-link">创意联合工作室的邮箱</a>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How CatsLinc Studio Works</h3>
      <ul>
        <li>招募成员</li>

        <li>头脑风暴</li>
        <li>制定方案</li>
        <li>落地执行</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="/">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>In a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/Catslinc/catslinc.git</code> - this will create a local copy of the source code for the website</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://github.com/Catslinc">Code repositories</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    欢迎加入，开启创意
  </div>
</div>


</body>
</html>
